
@{
    ViewData["Title"] = "Index";
}

<h2>Histórico por temporadas</h2>

<form>
    <select id="temporadas" class="form-control">
        
            <option value="1">1</option>
        
    </select>
</form>

<label>Coger el CSS de App de recetas</label>