<link href="~/css/tablaTemporada.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
}

@section scripts {
    <script src="~/js/ScriptConsumo.js"></script>

}

    <div style="margin-bottom:150px; margin-top:50px;">
        <h2 class="text-center" style="margin-bottom:20px">Histórico por temporadas</h2>

        <form>
            <select id="temporadas" class="form-control"></select>
        </form>

        <table class="table table-hover" id="tablaDetalles" style="margin-top:20px;display:none">
            <thead class="thead-dark">
                <tr>
                    <th>Carrera</th>
                    <th>Circuito</th>
                    <th>Localidad</th>
                    <th>Pais</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


        <table class="table table-hover" id="tablaDetallesCarrera" style="margin-top:100px; display:none">
            <thead class="thead-dark">
                <tr>
                    <th colspan="4" class="text-center" id ="tituloTablaDetallesCarrera"></th>
                </tr>
                <tr>
                    <th>Posicion</th>
                    <th>Conductor</th>
                    <th>Equipo</th>
                    <th>Puntos</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>