
@{
    ViewData["Title"] = "Index";
}

@section scripts {
    <script src="~/js/ScriptConsumo.js"></script>
}
<h2>Histórico por temporadas</h2>

<form>
    <select id="temporadas" class="form-control"></select>
</form>

<label>Coger el CSS de App de recetas</label>